
@import url('https://fonts.cdnfonts.com/css/rawline');

body{
  background: rgb(2,66,131);
  background: linear-gradient(90deg, rgba(2,66,131,1) 27%, rgba(2,9,59,1) 73%, rgba(2,9,59,1) 100%);
  font-family: 'Rawline', sans-serif;
  font-weight: 600;
  color: #f5f6f7;
}

h1,a {
  font-family: 'Rawline', sans-serif;
   font-weight: bold;
   color: #f5f6f7;
   font-size: 25px;
}

h2{
  color:#fff;
  font-weight: 800;
  transition: transform 0.4s ease-in-out;
  font-size: 60px;
}

#main{
  height: 100%;
  position: relative;
}

#mainrow{
  margin-top:80px;
  margin-left: auto;
  margin-right: auto;
  align-self: center;
  text-align: center;
  align-items: center;
  width: fit-content;
  max-width: 80%;
  min-width: 50%;
  justify-content: center;
  display: block;
}



.waves {
  position: fixed;
  width: 100%;
  height: 100px;
   bottom: 0;
  left: 0;
  /*Fix for safari gap*/
  min-height: 50px;
  max-height: 100px;
}

/* Animation */
.parallax>use {
  animation: move-forever 25s cubic-bezier(.55, .5, .45, .5) infinite;
}

.parallax>use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}

.parallax>use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}

.parallax>use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}

.parallax>use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}

@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }

  100% {
    transform: translate3d(85px, 0, 0);
  }
}

.conta {
  background: rgba(2, 9, 59, 1);
  width: 60%;
  margin: 0 auto;
  padding: 30px 38px 30px 22px;
  display: flex;
  justify-content: center;
  font-size: 50px;
  line-height: 45px;
  border-radius: 15px;
  border: #00358a, 1px, solid;
}

.acao {
  display: flex;
  align-items: center;
}

#num1, #num2{
  color: #f5f6f7;
}

.divisor {
  line-height: 0;
  position: relative;
  top: -20px;
}

input {
  width: 80%;
  border-radius: 10px;
  border: rgba(2, 9, 59, 1);
  border-style: double;
  height: 46px;
  background-color: #f5f6f7;
  font-size: 30px;
  text-align: center;
  font-family: 'Rawline', sans-serif;
  font-weight: 600;
  display: flex;
  margin: 5px auto;
}


input::-webkit-inner-spin-button {
  display: none;
}

.respostaCerta {
  border: 5px solid rgb(6, 180, 6);
}

.respostaErrada {
  border: 5px solid rgb(114, 5, 5);
}

.btn{
  font-size: 16px;
  font-family: 'Rawline', sans-serif;
  font-weight: 600;
  color: #fff;
  text-transform:capitalize; 
  background: #02093b;
  text-align: center;
  position: relative;
  transition: all 1s;
  overflow: hidden;
  margin-top: 3px;
  height: auto;
  width: auto;
}

.btn:hover{
  opacity: 0.9;
  box-shadow: 1px 1px 2px #002869, 0 0 25px #002869, 0 0 5px #002869;
  background-color: #002869;
  color: #fff;
  transform: scale(1.1);
}  

.btn::before{
  content: '';
  position: absolute;
  height: 100%;
  width: 0%;
  top: 0;
  left: -40px;
  transform: skewX(45deg);
  background-color: #00358a;
  z-index: -1;
  transition: all 1.3s;
}

.btn:hover::before{
  width: 160%;
}

#qtdPerguntas {
  width: 60%;
  margin: 5px;
}

/*Shrinking for mobile*/
@media (max-width: 500px) {
  .waves {
    height: 50px;
    min-height: 30px;
  }

  h1 {
    font-size: 24px;
  }
}
